<div class="topbar">

	<!-- LOGO -->
	<div class="topbar-left" style="background-color: white;">
		<a href="./" class="logo">
			<span>
				<img src="/public/assets/images/SAI-Logo.JPG" alt="" height="67">
			</span>
			<i>
				<img src="/public/assets/images/SAI-Logo.JPG" alt="" height="22">
			</i>
		</a>
	</div>

	<nav class="navbar-custom">
		<!-- Ensure jQuery is available early for plugins that load at the page bottom -->
		<script src="/public/assets/js/jquery.min.js"></script>
			<ul class="navbar-right d-flex list-inline float-right mb-0">
				<li class="dropdown notification-list">
				<a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
					<i class="mdi mdi-account"></i>
					<% if (typeof currentUser !== 'undefined' && currentUser) { %>
						<%= currentUser %>
					<% } else { %>
						Profile
					<% } %>
					<i class="mdi mdi-chevron-down"></i>
				</a>
				<div class="dropdown-menu dropdown-menu-right profile-dropdown">
					<a href="/profile" class="dropdown-item">Profile</a>
					<a href="/profile/change-password" class="dropdown-item">Change Password</a>
					<% if (typeof isAdmin !== 'undefined' && isAdmin) { %>
						<div class="dropdown-divider"></div>
						<a href="/admin" class="dropdown-item">Admin Tools</a>
					<% } %>
					<div class="dropdown-divider"></div>
					<a href="/logout" class="dropdown-item">Logout</a>
				</div>
			</li>
		</ul>
	</nav>

</div>
