<div class="left side-menu">
	<div class="slimscroll-menu" id="remove-scroll">

		<!--- Sidemenu -->
		<div id="sidebar-menu">
			<!-- Left Menu Start -->
			<ul class="metismenu" id="side-menu">
				<li class="menu-title">CREO Automation</li>
				<li>
					<a href="/" class="waves-effect">
						<i class="mdi mdi-home"></i> <span> Home </span>
					</a>
				</li>
				<li>
					<a href="/projects" class="waves-effect">
						<i class="mdi mdi-library"></i> <span> Projects </span>
					</a>
				</li>
				<li>
					<a href="/PDF-DXF-BIN_BOM" class="waves-effect">
						<i class="mdi mdi-content-duplicate"></i> <span> PDF / DXF / BIN BOM </span>
					</a>
				</li>
				<li>
					<a href="/submittal" class="waves-effect">
						<i class="mdi mdi-file-pdf"></i> <span> Submittal </span>
					</a>
				</li>
				<li>
					<a href="/slimVAC_NAR" class="waves-effect">
						<i class="mdi mdi-content-duplicate"></i> <span> SlimVAC NAR </span>
					</a>
				</li>
				<li>
					<a href="/partComparison" class="waves-effect">
						<i class="mdi mdi-content-duplicate"></i> <span> Part Comparison </span>
					</a>
				</li>
				<li>
					<a href="/renameMain" class="waves-effect">
						<i class="mdi mdi-content-duplicate"></i> <span> Rename </span>
					</a>
				</li>
			</ul>

		</div>
		<!-- Sidebar -->
		<div class="clearfix"></div>

	</div>
	<!-- Sidebar -left -->

</div>
