<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <!--- Admin Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Admin</li>
                <li>
                    <a href="/admin/requests" class="waves-effect">
                        <i class="mdi mdi-account-check"></i> <span> Pending Requests </span>
                    </a>
                </li>
                <li>
                    <a href="/admin/users" class="waves-effect">
                        <i class="mdi mdi-account-multiple"></i> <span> Users </span>
                    </a>
                </li>
                <li>
                    <a href="/admin/audit" class="waves-effect">
                        <i class="mdi mdi-history"></i> <span> Audit Log </span>
                    </a>
                </li>
                <li>
                    <a href="/home" class="waves-effect">
                        <i class="mdi mdi-home"></i> <span> Back to App </span>
                    </a>
                </li>
            </ul>

        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
